<h1>Sign up</h1>

<form action="/insert_user" method="post">
  <div>
    <label for="browser_username">Username</label>
    <input id="browser_username" name="query_username" placeholder="Choose a username..." type="text">
  </div>

  <div>
    <label for="browser_password">Password</label>
    <input id="browser_password" name="query_password" placeholder="Choose a password..." type="password">
  </div>

  <div>
    <label for="browser_password_confirmation">Password Confirmation</label>
    <input id="browser_password_confirmation" name="query_password_confirmation" placeholder="Confirm your password..." type="password">
  </div>

  <div>
    <label for="browser_private">Private</label>
    <input id="browser_private" name="query_private" type="checkbox" value="1">
  </div>

  <button>
    Sign up
  </button>
</form>
